n8n-workflows/workflow-moneyback-go-api.json
{
  "name": "AI Code Review - Complete Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "code-review",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "n1-trigger",
      "name": "1. Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "code-review"
    },
    {
      "parameters": {
        "jsCode": "// Extract and validate input\nconst body = $input.first().json.body || $input.first().json;\n\nconst repoUrl = body.repo_url || body.repository?.clone_url || '';\nconst branch = body.branch || body.pull_request?.head?.ref || 'main';\nconst prNumber = body.pr_number || body.pull_request?.number || 0;\nconst prTitle = body.pr_title || body.pull_request?.title || 'Unknown';\nconst prDesc = body.pr_description || body.pull_request?.body || '';\nconst projectKey = body.project_key || body.sonar_project_key || 'default-project';\nconst commitSha = body.commit_sha || body.pull_request?.head?.sha || '';\n\n// Classification\nconst critPatterns = /auth|login|password|token|payment|billing|encrypt|crypto|secret|migration/i;\nlet classification = 'STANDARD';\nif (critPatterns.test(prTitle) || critPatterns.test(branch)) {\n  classification = 'CRITICAL';\n}\nif (body.classification) classification = body.classification;\n\nreturn [{ json: {\n  repo_url: repoUrl,\n  branch: branch,\n  pr_number: prNumber,\n  pr_title: prTitle,\n  pr_description: prDesc,\n  project_key: projectKey,\n  commit_sha: commitSha,\n  classification: classification,\n  pipeline_start: Date.now()\n} }];"
      },
      "id": "n2-prepare",
      "name": "2. Prepare Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://scanner:8585/full-review",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "n3-pipeline",
      "name": "3. Run Full Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "// Process pipeline results\nconst result = $input.first().json;\nconst startTime = $('2. Prepare Input').first().json.pipeline_start;\n\nconst reportUrl = result.stages?.report?.download_url \n  ? `http://localhost:8585${result.stages.report.download_url}`\n  : null;\n\nreturn [{ json: {\n  status: result.status,\n  pipeline_id: result.pipeline_id,\n  duration_seconds: result.duration_seconds,\n  \n  stages: {\n    scan: result.stages?.scan?.status || 'unknown',\n    scan_issues: result.stages?.scan?.issues_found || 0,\n    context: result.stages?.context?.status || 'unknown',\n    needs_ai: result.stages?.context?.needs_ai || false,\n    ai_review: result.stages?.ai_review?.status || 'unknown',\n    risk_level: result.stages?.ai_review?.risk || 'N/A',\n    model_used: result.stages?.ai_review?.model || 'N/A',\n    report: result.stages?.report?.status || 'unknown'\n  },\n  \n  report: {\n    filename: result.stages?.report?.filename || null,\n    download_url: reportUrl,\n    size_kb: result.stages?.report?.report_size_kb || 0\n  },\n  \n  error: result.error || null\n} }];"
      },
      "id": "n4-process",
      "name": "4. Process Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://scanner:8585{{ $json.report.download_url ? $json.report.download_url.replace('http://localhost:8585', '') : '/reports' }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "n5-download",
      "name": "5. Download Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseBody": "={{ $binary }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              },
              {
                "name": "Content-Disposition",
                "value": "=attachment; filename=\"{{ $('4. Process Results').first().json.report.filename || 'review-report.html' }}\""
              }
            ]
          }
        }
      },
      "id": "n6-respond",
      "name": "6. Return Report",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1350, 300]
    }
  ],
  "connections": {
    "1. Trigger": {
      "main": [[{ "node": "2. Prepare Input", "type": "main", "index": 0 }]]
    },
    "2. Prepare Input": {
      "main": [[{ "node": "3. Run Full Pipeline", "type": "main", "index": 0 }]]
    },
    "3. Run Full Pipeline": {
      "main": [[{ "node": "4. Process Results", "type": "main", "index": 0 }]]
    },
    "4. Process Results": {
      "main": [[{ "node": "5. Download Report", "type": "main", "index": 0 }]]
    },
    "5. Download Report": {
      "main": [[{ "node": "6. Return Report", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}